
/* Base styles */
.tabs {
  display: flex;
  cursor: pointer;
}

.tab {
  padding: 10px 20px;
  margin-right: 5px;
  border: 1px solid #ccc;
}

.tab.active {
  color: white;
  background-color: blue;
}

.panel {
  display: none;
  padding: 20px;
  border: 1px solid #ccc;
  border-top: none;
}

.panel.active {
  display: block;
}
